lib-cov
*.csv
*.dat
*.out
*.gz
*.swp

results
tmp

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Build
public/css/main.css
out

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
jspm_packages

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

# Optional REPL history
.node_repl_history
.next

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
